<div class="container col-md-6 text-center">
    <div class="text-center">
        <h6>Name: {{Name}}</h6>
        <h6>Price: &#36;{{Price}}</h6>
    </div>
    <div class="middle-line-green"></div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{Link}}" allowfullscreen></iframe>
    </div>
    <div class="middle-line-green"></div>
    <div class="text-center">
        <a id="button-color" class="btn btn-primary" href="/albums/details?albumId={{AlbumId}}">Back To Album</a>
    </div>
</div>